<div class="container-fluid">
  <div class="page-title">
    <h2>Permissão</h2>
  </div>

  <div class="col-md-12">
    <div class="card">
      <div class="card-block">
        <div class="tab-primary">
          <form [formGroup]="grupoForm" novalidate no-padding autocomplete="on">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="nomeGrupo" class="col-md-12 control-label">Nome do Grupo</label>
                  <input type="text" class="form-control input-medium" formControlName="nomeGrupo"
                    class="form-control">
                  <label *ngIf="isFieldGrupoFormInvalid('nomeGrupo')" id="nome-error" class="error" for="nome">Nome é
                      obrigatório</label>
                </div>
              </div>
            </div>
            
            <div class="card">
              <div class="card-block">
                <button data-toggle="modal" data-target="#modal-usuario" class="btn btn-sm btn-primary"
                              (click)="addUsuario()">Adicionar Usuário</button>

                <div class="table-overflow">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th style="text-align: center; width: 80%">Nome Usuário</th>
                        <th style="text-align: center; width: 20%">Ações</th>
                      </tr>
                    </thead>

                    <tbody *ngIf="grupo?.usuarios.length != 0">
                      <tr *ngFor="let item of grupo?.usuarios">
                        <td>{{item.nomeUsuario}}</td>
                        <td style="text-align: center">
                          <a class="btn text-danger" (click)="excluirUsuario(item)">
                            <i class="fa fa-trash fa-lg"></i>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                    <tbody *ngIf="grupo?.usuarios.length == 0">
                      <tr>
                          <td colspan="5" class="no-data-available">Nenhum usuário encontrado</td>
                      </tr>
                  </tbody>
                  </table>
                </div>
              </div>
            </div>
          </form>

          <div class="modal fade" id="modal-usuario">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="padding-15">
                    <div class="row">
                      <div class="col-md-12">
                        <h2>Usuário</h2>

                        <form [formGroup]="usuarioForm" novalidate no-padding autocomplete="on">
                          <div class="row">
                            <div class="col-md-12">
                              <div class="form-group">
                                <label for="nomeUsuario" class="col-md-12 control-label">Nome do Usuário</label>
                                <input type="text" class="form-control input-medium" formControlName="nomeUsuario"
                                  class="form-control">
                                <label *ngIf="isFieldUsuarioFormInvalid('nomeUsuario')" id="nome-error" class="error" for="nome">Nome é
                                    obrigatório</label>
                              </div>
                              <button type="button" (click)="salvarUsuario()" class="btn btn-primary" [disabled]="!usuarioForm.valid">Salvar</button>
                              <a href="" data-dismiss="modal" class="btn btn-danger">Fechar</a>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="text-left">
        <button type="button" (click)="salvar()" class="btn btn-primary">Salvar</button>
        <button type="button" (click)="cancelar()" class="btn btn-danger">Cancelar</button>
      </div>
    </div>
  </div>
</div>
