<div class="container-fluid">
    <div class="page-title">
        <h1>Permissões</h1>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block">
                    <button type="button" class="btn btn-primary" (click)="novo()">Novo</button>
                    <div class="table-overflow">
                        <table class="table table-hover" datatable [dtOptions]="dtOptions">
                            <thead>
                                <tr>
                                    <th style="text-align: center; width: 80%">Nome Grupo</th>
                                    <th class="" style="text-align: center; width: 20%">Ações</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="grupos?.length != 0">
                                <tr *ngFor="let grupo of grupos">
                                    <td>{{ grupo.nomeGrupo }}</td>
                                    <td style="text-align: center" class="">
                                        <a class="btn text-success" (click)="openForEdit(grupo.codGrupo)">
                                            <i class="fa fa-edit fa-lg"></i>
                                        </a>
                                        <a class="btn text-danger" (click)="onDelete(grupo.codGrupo)">
                                            <i class="fa fa-trash fa-lg"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="grupos?.length == 0">
                                <tr>
                                    <td colspan="5" class="no-data-available">Nenhum grupo encontrado</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
