<div class="container-fluid">
  <div class="page-title">
    <h4>Fluxos</h4>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-block">
          <div class="table-overflow table-filters">
            <button data-toggle="modal" data-target="#modal-filtros" class="theme-toggle btn btn-filter btn-icon"
              style="padding: 10px !important;" title="Filtros de Pesquisa">
              <i class="fa fa-search"></i>
              <span></span>
            </button>

            <table class="row-border hover" datatable [dtOptions]="dtOptions">
              <thead>
                <tr>
                  <th style="text-align: center; width: 40%;">Nome</th>
                  <th style="text-align: center; width: 15%;">Solicitado</th>
                  <th style="text-align: center; width: 15%;">Autorizado</th>
                  <th style="text-align: center; width: 15%;">Disponibilizado</th>
                  <th style="text-align: center; width: 15%;">Agendado</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let solicitacao of solicitacoes">
                  <td>{{ solicitacao.nomeBeneficiario }}</td>
                  <td style="text-align: center;"><img src="{{ solicitacao.dataSolicitacao | imageGreenOrRed }}"></td>
                  <td style="text-align: center;"><img src="{{ solicitacao.dataAutorizacao | imageGreenOrRed }}"></td>
                  <td style="text-align: center;"><img src="{{ solicitacao.dataDisponibilidade | imageGreenOrRed }}"></td>
                  <td style="text-align: center;"><img src="{{ solicitacao.dataAgendamento | imageGreenOrRed }}"></td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th><input type="hidden" name="search-nomeBeneficiario" id="search-nomeBeneficiario" /></th>
                  <th><input type="hidden" name="search-dataSolicitacao" id="search-dataSolicitacao" /></th>
                  <th><input type="hidden" name="search-dataAutorizacao" id="search-dataAutorizacao" /></th>
                  <th><input type="hidden" name="search-dataDisponibilidade" id="search-dataDisponibilidade" /></th>
                  <th><input type="hidden" name="search-dataAgendamento" id="search-dataAgendamento" /></th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-filtros">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header border bottom">
        <h2 class="modal-title">Filtros</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Nome Beneficiário</label>
              <input type="text" id="search-nomeBeneficiario-filter" class="form-control" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label>Solicitado?</label>
              <select id="search-dataSolicitacao-filter" class="form-control">
                <option value=""></option>
                <option value="Sim">SIM</option>
                <option value="Não">NÃO</option>
              </select>
            </div>
          </div><div class="col-md-3">
            <div class="form-group">
              <label>Autorizado?</label>
              <select id="search-dataAutorizacao-filter" class="form-control">
                <option value=""></option>
                <option value="Sim">SIM</option>
                <option value="Não">NÃO</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
              <div class="form-group">
                <label>Disponibilizado?</label>
                <select id="search-dataDisponibilidade-filter" class="form-control">
                  <option value=""></option>
                  <option value="Sim">SIM</option>
                  <option value="Não">NÃO</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Agendado?</label>
                <select id="search-dataAgendamento-filter" class="form-control">
                  <option value=""></option>
                  <option value="Sim">SIM</option>
                  <option value="Não">NÃO</option>
                </select>
              </div>
            </div>
        </div>
      </div>
      <div class="modal-footer border">
        <div class="text-right">
            <button type="button" (click)="limparFiltrosLista()" class="btn btn-light btn-sm">Limpar</button>
          <button class="btn btn-primary btn-sm" (click)="filtrarLista()" data-dismiss="modal">Filtar</button>
        </div>
      </div>
    </div>
  </div>
</div>
