<div class="form-group">
  <label>{{label}}</label>
  <select class="form-control" value="{{value.tipo}}" (change)="selectOpcaoPeriodo($event)">
    <option value="HOJE">Hoje</option>
    <option value="SEMANA_ATUAL">Semana atual</option>
    <option value="ULTIMOS_SETE_DIAS">Últimos 7 dias</option>
    <option value="ULTIMOS_QUINZE_DIAS">Últimos 15 dias</option>
    <option value="ULTIMOS_TRINTA_DIAS">Últimos 30 dias</option>
    <option value="MES_ATUAL">Mês atual</option>
    <option value="INTERVALO">Intervalo</option>
  </select>
</div>
<div class="input-group" *ngIf="showIntervalo">
  <span class="input-group-text">
    <i class="ti-calendar"></i>
  </span>
  <input type="text" value="{{value.valor}}" (keyup)="changeIntervaloPerioco($event)" matInput mask="00/00/0000 - 00/00/00000" class="form-control" placeholder="DD/MM/YYYY - DD/MM/YYYY" />
</div>
<input type="hidden" [id]="id" [value]="value" />
