<div class="container-fluid">
    <div class="page-title">
        <h1>Agendamentos</h1>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block">
                    <div class="table-overflow">
                        <table class="table table-hover" datatable [dtOptions]="dtOptions">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Medicação</th>
                                    <th>Autorização</th>
                                    <th>Pré-senha</th>
                                    <th>Disponível</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
