<footer class="content-footer">
    <div class="footer">
        <div class="copyright">
            <span><b class="text-dark">EP&Q : </b></span> Escritório de Processos e Qualidade
            <span class="go-right">
                <a href="" class="text-gray mrg-right-15">Suporte</a>
            </span>
        </div>
    </div>
</footer>
