<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-3">
          <app-card-counter counterName="Solicitadas" [counterValue]="oncologiaSituacoes.totalSolicitada"
            counterIcon="fa fa-mail-forward" cardColor="primary" (click)="abrirSolicitacoes('SOLICITADO')">
          </app-card-counter>
        </div>
        <div class="col-md-3">
          <app-card-counter counterName="Autorizadas" [counterValue]="oncologiaSituacoes.totalAutorizada"
            counterIcon="fa fa-ticket" cardColor="danger" (click)="abrirSolicitacoes('AUTORIZADO')">
          </app-card-counter>
        </div>
        <div class="col-md-3">
          <app-card-counter counterName="Disponibilizado" [counterValue]="oncologiaSituacoes.totalDisponibilizado"
            counterIcon="fa fa-medkit" cardColor="success" (click)="abrirSolicitacoes('DISPONIBILIZADO')">
          </app-card-counter>
        </div>
        <div class="col-md-3">
          <app-card-counter counterName="Agendadas" [counterValue]="oncologiaSituacoes.totalAgendada"
            counterIcon="fa fa-calendar-o" cardColor="info" (click)="abrirSolicitacoes('AGENDADO')">
          </app-card-counter>
        </div>
      </div>
      <div class="row" style="margin-top: 20px;">
        <div class="col-md-12">
          <div class="card">
            <div class="card-heading border bottom">
              <h4 class="card-title">Medicamentos</h4>
            </div>
            <div class="card-block">
              <nvd3 [options]="medicamentosbarChart.barChartOption" [data]="medicamentosbarChart.barChartData"></nvd3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-heading border bottom">
              <h4 class="card-title">Filtros</h4>
            </div>
            <div class="card-body">
              <form [formGroup]="filtroForm" novalidate no-padding autocomplete="on">
                <div class="row">
                  <div class="col-md-12">
                    <app-select-periodos id="periodo" formControlName="periodo"></app-select-periodos>
                  </div>
                </div>
                <button class="btn btn-default btn-inverse btn-rounded" style="float: right;margin-top: 10px;" (click)="filtrar()">
                  Pesquisar
                 </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-heading border bottom">
              <h4 class="card-title">Solicitações/Autorizações</h4>
            </div>
            <div class="card-block">
              <nvd3 [options]="situacoesPieChart.pieChartOption" [data]="situacoesPieChart.pieChartData"></nvd3>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
