.no-data-available {
    text-align: center;
}

.dataTables_empty {
    display: none;
}

.table-filters .dataTables_filter{
  display: none !important;
}

.btn-filter{
  float: right;
  position: relative !important;
  right: 20px;
  bottom: 10px !important;
  padding: 15px !important;
  z-index: 1001;
  line-height: 1;
  font-size: 15px !important;
  color: #ffffff;
  margin-bottom: -55px !important;
  background-color: #28a745 !important;
}

#cover {
  background: #e5e7eb url('') center center no-repeat;
  background-size: cover;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}

#cover-caption {
  width: 100%;
}

form.submitted input.ng-invalid, input.ng-dirty.ng-invalid {
  border: 1px solid red;
 }

 .form-control.valid {
  border-color: #37c936;
  background-color: #ebfaeb;
  color: #278d26;
}

.form-control:focus {
  outline: 0 none;
  box-shadow: none;
  border-color: #3daef3;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

 .snack-bar-error {
   background-color: #cd515d !important;
 }


.mat-simple-snackbar-action {
    color: #eac3b8 !important;
}
