.page-title {

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	span {
		font-size: 30px;
    font-family: $font-secondary;
    margin-left: 15px;
		margin-top: 15px;
		margin-bottom: 25px;
		margin-top: 0px;
	}
}
