<div class="app" [ngClass]="{'is-collapsed': isCollapse, 'rtl': rtlActived}">
    <div class="layout" [ngClass]="headerSelected">

        <div [ngClass]="sidenavSelected">
            <app-side-nav></app-side-nav>

            <div class="page-container">

                <app-header></app-header>

                <div class="main-content">
                    <router-outlet></router-outlet>
                </div>

                <app-footer></app-footer>

            </div>

         </div>
    </div>
</div>
