<div class="header navbar">
    <div class="header-container">
        <ul class="nav-left">
            <li>
                <a class="side-nav-toggle" (click)="toggleSideNavCollapse()" href="javascript:void(0);">
                    <i class="ti-view-grid"></i>
                </a>
            </li>
        </ul>
        <ul class="nav-right">
            <li class="user-profile dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                    <div class="user-info">
                        <span class="name pdd-right-5">{{usuarioLogado.codUsuario}}</span>
                        <i class="ti-angle-down font-size-10"></i>
                    </div>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" (click)="logout()">
                        <i class="ti-power-off pdd-right-10"></i>
                        <span>Sair</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>