<section id="cover">
  <div id="cover-caption">
    <div id="container" class="container">
      <div class="row text-white">
        <div class="col-sm-6 offset-sm-3 text-center">
          <div class="card">
            <div class="card-body">
              <div class="pdd-horizon-30 pdd-vertical-30">
                <div class="mrg-btm-30">
                  <img class="img-responsive inline-block" src="assets/images/logo/logo.png" alt="">
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form" novalidate no-padding
                  autocomplete="on">
                  <div class="form-group">
                    <input type="text" class="form-control" formControlName="usuario" placeholder="Usuário"></div>
                  <div class="form-group">
                    <input type="password" class="form-control" formControlName="senha" placeholder="Senha">
                  </div>
                  <div class="mrg-top-20 text-right">
                    <button type="submit" class="btn btn-primary">Login</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
