<div class="side-nav" sideBar>
  <div class="side-nav-inner">
    <div class="side-nav-logo">
      <a href="" [routerLink]="['/home']">
        <div class="logo logo-dark" style="background-image: url('assets/images/logo/logo.png')"></div>
        <div class="logo logo-white" style="background-image: url('assets/images/logo/logo-white.png')"></div>
      </a>
      <div class="mobile-toggle side-nav-toggle">
        <a (click)="toggleSideNavCollapse()" href="javascript:void(0);">
          <i class="ti-arrow-circle-left"></i>
        </a>
      </div>
    </div>
    <ul class="side-nav-menu scrollable" [perfectScrollbar]>
      <li class="nav-item dropdown">
        <a class="dropdown-toggle" href="javascript:void(0);">
          <span class="icon-holder">
            <i class="ti-view-list-alt"></i>
          </span>
          <span class="title">Oncologia</span>
          <span class="arrow">
            <i class="ti-angle-right"></i>
          </span>
        </a>
        <ul class="dropdown-menu">
          <li class="nav-item dropdown">
            <a href="" [routerLink]="['/oncologia']">
              <span>Resumo</span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a href="" [routerLink]="['/oncologia/solicitacoes/']">
              <span>Solicitações</span>
            </a>
          </li>

          <li class="nav-item dropdown">
            <a href="" [routerLink]="['/oncologia/fluxos']">
              <span>Fluxos</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="dropdown-toggle" href="javascript:void(0);">
          <span class="icon-holder">
            <i class="ti-view-list-alt"></i>
          </span>
          <span class="title">Administração</span>
          <span class="arrow">
            <i class="ti-angle-right"></i>
          </span>
        </a>
        <ul class="dropdown-menu">
          <li class="nav-item dropdown">
            <a href="" [routerLink]="['/administracao/permissoes']">
              <span>Permissões</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
