<div class="container-fluid">
  <div class="page-title">
    <h4>Solicitações</h4>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-block">
          <div class="table-overflow table-filters">
            <button data-toggle="modal" data-target="#modal-filtros" class="theme-toggle btn btn-filter btn-icon"
              style="padding: 10px !important;" title="Filtros de Pesquisa">
              <i class="fa fa-search"></i>
              <span></span>
            </button>
            <button data-toggle="modal" class="theme-toggle btn btn-filter btn-icon" title="Limpar Selecionados"
              style="padding: 10px !important;margin-right: 70px;" (click)="limparSelecionados()">
              <i class="fa fa-eraser"></i>
              <span></span>
            </button>
            <button data-toggle="modal" data-target="#modal-medicacao" (click)="openFormDisponibilidade()"
              title="Medicamentos" class="theme-toggle btn btn-filter btn-icon"
              style="padding: 10px !important;margin-right: 140px;">
              <i class="fa fa-medkit"></i>
              <span></span>
            </button>
            <table class="row-border hover" datatable [dtOptions]="dtOptions">
              <thead>
                <tr>
                  <td style="width: 10px;padding: 5px 10px;">
                    <div class="checkbox">
                      <input id="select-all" name="select-all" id="select-all" (click)="selecionarTodosCheckbox($event)"
                        type="checkbox">
                      <label for="select-all"></label>
                    </div>
                  </td>
                  <th style="text-align: center; width: 30%;">Nome</th>
                  <th style="text-align: center; width: 20%;">Medicação</th>
                  <th style="text-align: center; width: 10%;">Data Solic</th>
                  <th style="text-align: center; width: 10%;">Data Aut</th>
                  <th style="text-align: center; width: 10%;">Data Disp</th>
                  <th style="text-align: center; width: 10%;">Data Agend</th>
                  <th style="text-align: center; width: 10%;">Situação</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let solicitacao of solicitacoes">
                  <td>
                    <div class="checkbox">
                      <input id="{{solicitacao._id}}" (change)="selecionarCheckbox($event, solicitacao)"
                        name="{{solicitacao._id}}" type="checkbox"
                        checked="{{ solicitacao | dtSelectedRows:'checkbox':datatablesHelper.getSelectedData() }}">
                      <label for="{{solicitacao._id}}"></label>
                    </div>
                  </td>
                  <td>{{ solicitacao.nomeBeneficiario }}</td>
                  <td>{{ solicitacao.nomeMedicamento }}</td>
                  <td style="text-align: center;">{{ solicitacao.dataSolicitacao | date: 'dd/MM/yyy' }}</td>
                  <td style="text-align: center;">{{ solicitacao.dataAutorizacao | date: 'dd/MM/yyy' }}</td>
                  <td style="text-align: center;">{{ solicitacao.dataDisponibilidade | date: 'dd/MM/yyy' }}</td>
                  <td style="text-align: center;">{{ solicitacao.dataAgendamento | date: 'dd/MM/yyy' }}</td>
                  <td>{{ solicitacao.situacao }}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th></th>
                  <th><input type="hidden" name="search-nomeBeneficiario" id="search-nomeBeneficiario" /></th>
                  <th><input type="hidden" name="search-nomeMedicamento" id="search-nomeMedicamento" /></th>
                  <th><input type="hidden" name="search-dataSolicitacao" id="search-dataSolicitacao" /></th>
                  <th><input type="hidden" name="search-dataAutorizacao" id="search-dataAutorizacao" /></th>
                  <th><input type="hidden" name="search-datadataDisponibilidade" id="search-dataDisponibilidade" /></th>
                  <th><input type="hidden" name="search-dataAgendamento" id="search-dataAgendamento" /></th>
                  <th><input type="hidden" name="search-situacao" id="search-situacao" /></th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-filtros">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header border bottom">
        <h2 class="modal-title">Filtros</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Nome Beneficiário</label>
              <input type="text" id="search-nomeBeneficiario-filter" class="form-control" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Nome Medicamento</label>
              <input type="text" id="search-nomeMedicamento-filter" class="form-control" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Data Solicitação</label>
              <div class="input-group">
                <span class="input-group-text">
                  <i class="ti-calendar"></i>
                </span>
                <input type="text" id="search-dataSolicitacao-filter" matInput mask="00/00/0000 - 00/00/00000"
                  class="form-control" placeholder="DD/MM/YYYY - DD/MM/YYYY" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Data Autorização</label>
              <div class="input-group">
                <span class="input-group-text">
                  <i class="ti-calendar"></i>
                </span>
                <input type="text" id="search-dataAutorizacao-filter" matInput mask="00/00/0000 - 00/00/00000"
                  class="form-control" placeholder="DD/MM/YYYY - DD/MM/YYYY" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Data Disponibilização</label>
              <div class="input-group">
                <span class="input-group-text">
                  <i class="ti-calendar"></i>
                </span>
                <input type="text" id="search-dataDisponibilidade-filter" matInput mask="00/00/0000 - 00/00/00000"
                  class="form-control" placeholder="DD/MM/YYYY - DD/MM/YYYY" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Data Agendamento</label>
              <div class="input-group">
                <span class="input-group-text">
                  <i class="ti-calendar"></i>
                </span>
                <input type="text" id="search-dataAgendamento-filter" matInput mask="00/00/0000 - 00/00/00000"
                  class="form-control" placeholder="DD/MM/YYYY - DD/MM/YYYY" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Situação</label>
              <select id="search-situacao-filter" class="form-control">
                <option value=""></option>
                <option value="SOLICITADO">SOLICITADO</option>
                <option value="AUTORIZADO">AUTORIZADO</option>
                <option value="DISPONIBILIZADO">DISPONIBILIZADO</option>
                <option value="AGENDADO">AGENDADO</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer border">
        <div class="text-right">
            <button type="button" (click)="limparFiltrosLista()" class="btn btn-light btn-sm">Limpar</button>
          <button class="btn btn-primary btn-sm" (click)="filtrarLista()" data-dismiss="modal">Filtar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-medicacao" *ngIf="solicitacoesSelecionadas">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header border bottom">
        <h2 class="modal-title">Disponibilidade Medicação</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="medicacaoForm" class="form-horizontal" (ngSubmit)="onSubmit()" novalidate
        no-padding autocomplete="on">
        <div class="modal-body">
          <div class="form-group">
            <label class="col-md-12 control-label" for="nomeMedicamento">Medicamento(s)</label>
            <div class="col-md-12">
              <select formControlName="nomeMedicamento" class="form-control" id="nomeMedicamento">
                <option value="">Selecione</option>
                <option *ngFor="let nome of medicamentosSelecionados; let i = index" [value]="nome">
                  {{nome}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-12 control-label">O Medicamento selecionado está disponível?</label>
            <div class="col-md-12">
              <div class="radio radio-inline">
                <input type="radio" checked="" value="S" (click)="opcaoDisponibilidade($event)"
                  formControlName="disponibilidade" name="disponibilidade" id="rad1">
                <label for="rad1">Sim</label>
              </div>
              <div class="radio radio-inline">
                <input type="radio" name="disponibilidade" (click)="opcaoDisponibilidade($event)"
                  formControlName="disponibilidade" value="N" id="rad2">
                <label for="rad2">Não</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-12 control-label">Data Disponibilidade</label>
            <div class="col-md-12">
              <div class="input-group">
                <span class="input-group-text">
                  <i class="ti-calendar"></i>
                </span>
                <input type="text" class="form-control" matInput mask="00/00/0000" style="max-width: 200px;"
                  formControlName="dataDisponibilidade" [validation]="true" placeholder="DD/MM/YYYY">
              </div>
            </div>
          </div>
          <div class="col-md-12" *ngIf="resultadosDisponibilizacao.length > 0">
            <div class="table-overflow">
              <table class="table table-hover table-sm">
                <thead>
                  <tr>
                    <th>Medicamento</th>
                    <th>Erros</th>
                    <th>OK</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let resultado of resultadosDisponibilizacao">
                    <td>{{resultado.id}}</td>
                    <td><b style="color:red;">{{resultado.totalErros}}</b></td>
                    <td><b style="color: green;">{{resultado.totalOk}}</b></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer border">
          <div class="text-right">
            <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
